<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="SCM prelease package source" value="C:\temp\scm-1.1.0-prerelease" />
  </packageSources>
</configuration>
